# Copia este archivo a ".env.local" y completa con los datos de tu proyecto
# de Supabase (Project Settings > API).

https://mrknlbkfvxogkdhnxdyl.supabase.co/rest/v1/

sb_publishable_nddRiIsbVxqnyuS3uxo-Xg_v724ATsN